body
{
    padding: 0;
    margin: 0;
}

#unity-container
{
    position: absolute;
}

#unity-container.unity-desktop
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

#unity-container.unity-mobile
{
    width: 100%;
    height: 100%;
}

#unity-canvas
{
    background: #231F20;
}

.unity-mobile #unity-canvas
{
    width: 100%;
    height: 100%;
}

#unity-loading-bar
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

#unity-logo
{
    width: 154px;
    height: 130px;
    background: url('unity-logo-dark.png') no-repeat center;
}

#unity-progress-bar-empty
{
    width: 141px;
    height: 18px;
    margin-top: 10px;
    margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full
{
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

#unity-footer
{
    position: relative;
}

.unity-mobile #unity-footer
{
    display: none;
}

#unity-webgl-logo
{
    float:left;
    width: 204px;
    height: 38px;
    background: url('webgl-logo.png') no-repeat center;
}

#unity-build-title
{
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px;
}

#unity-fullscreen-button
{
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
}

#unity-warning
{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

.CanvasPlace
{
    position: relative;
}

.BlankHeight
{
    height: 950px;
}

.Unity-Discription_Space
{
    display: flex;
    width: 65%;
    border: #000;
    margin:  0 auto;     
    text-align: justify;
}
.Unity-Discription
{
    width: 100%;
    text-align: justify;
    overflow-wrap:break-word;
}

.SectionTitle
{
    position: relative;
    padding-left: 25px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5em;
}
  
.SectionTitle:before
{
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px rgb(25, 21, 128);
}

.SectionTitle:after
{
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    /*border-bottom: solid 3px rgb(119, 195, 223);*/
    background: -webkit-linear-gradient(to right, rgb(25, 21, 128), transparent);
    background: linear-gradient(to right, rgb(25, 21, 128), transparent);
}

.SectionContent
{
    width: 100%;
    text-align: justify;
    overflow-wrap:break-word;
    color: #000;
    font-size: 18px;
    margin-bottom: 1.5em;
}

.UpdateDate
{
    width: 100%;
    color: #000;
    font-size: 18px;
    text-align: right;
    margin-left: 3em;
    margin-bottom: 1.5em;
}