.App {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.App-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* 親要素の高さいっぱいに広げる */
}

.App-logo img{
  /* height: 40vmin;
  pointer-events: none; */
  width: 100%;
  height: auto;
  max-height: 100px;
}

.App-header {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0; /* ヘッダーをページの一番上に固定 */
  border-bottom: 2px solid black;
  z-index: 100;
}

.backgroundColor-profile{
  background: linear-gradient(-20deg, #ff3beb 0%, #3223ff 100%);
  box-sizing: border-box;
}
.backgroundColor-odd {
  background-color: #F7F7FF; 
  box-sizing: border-box;
}

.backgroundColor-even {
  background-color: #fff;
  box-sizing: border-box;
}

.App-body {
  width: 100%;
  margin-top: 100px; /* ヘッダーの高さ分だけ余白を追加 */
}
